---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection, getEntry } from 'astro:content';

const title = 'Stories';
const description = 'Latest stories.';
const permalink = `${Astro.site.href}blog`;
const allPosts = await getCollection('blog', ({ data }) => data.hidden !== true);
const sortedPosts = allPosts.sort((a, b) => 
  new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf()
);
// Fetch all author entries
const authorEntries = await getCollection('authors');
const getAuthorName = (authorId) => {
  const author = authorEntries.find(a => a.id === authorId);
  return author ? author.data.name : authorId; // Fallback to ID if author not found
};
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <div class="container">
    <h1>Our Short Stories</h1>
    {sortedPosts.map((post, index) => {
      return (
        <div>
          { index !== 0 && <hr /> }
          <div class="post-item">
            <h2>
              <a href={`/blog/${post.id}`}>{post.data.title}</a>
            </h2>
            <p>{post.data.description}</p>
              <span class="post-item-author">
  By <a href={`/authors/${post.data.author.id}`}>{getAuthorName(post.data.author.id)}</a>
</span>

              <span class="post-item-date">— {post.data.publishDate}</span>
            </div>
          </div>
      )
    })}
  </div>
</BaseLayout>

<style>
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }
   
 .post-item-author {
    color: var(--text-primary);
    margin-right: 8px;
  }

  hr {
    margin: 60px auto;
  }
</style>
