---
const { name, bio, avatar, links } = Astro.props;
---

<div>
  <img src={avatar} alt={`Headshot of ${name}`} />
  <p>
    Hi, I'm <strong>{name}</strong>. {bio}
    {links && (
      <>
        <br />
        {links.twitter && (
          <a href={links.twitter} target="_blank">X</a>
        )}
        {links.github && (
          <> | <a href={links.github} target="_blank">GitHub</a></>
        )}
        {links.website && (
          <> | <a href={links.website} target="_blank">Website</a></>
        )}
      </>
    )}
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
