---

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PostHog from '../components/posthog.astro';

export interface Props {
  title: string;
  description: string;
  permalink: string;
  current?: string;
  hideNewsletterFooter?: boolean;
}
const { title, description, permalink, current, hideNewsletterFooter = false } = Astro.props;

// Site-wide structured data
const siteStructuredData = {
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Organization",
      "@id": "https://www.siblingswrite.com/#organization",
      "name": "Siblings Write",
      "url": "https://www.siblingswrite.com/",
      "logo": {
        "@type": "ImageObject",
        "url": "https://www.siblingswrite.com/assets/social.png"
      },
      "description": "Brothers writing young adult fiction, middle grade adventures, and Christmas novels together",
      "sameAs": [
        "https://www.amazon.com/stores/author/B0FQS3SGZQ",
        "https://www.youtube.com/@thehawrotsiblings"
      ]
    },
    {
      "@type": "WebSite",
      "@id": "https://www.siblingswrite.com/#website",
      "url": "https://www.siblingswrite.com/",
      "name": "Siblings Write",
      "description": "Young adult fiction, middle grade adventures, and Christmas novels by the Hawrot siblings",
      "publisher": {
        "@id": "https://www.siblingswrite.com/#organization"
      },
      "inLanguage": "en-US"
    }
  ]
};
---
<html lang="en">
<head>
  <BaseHead title={title} description={description} permalink={permalink} />
  <script type="application/ld+json" set:html={JSON.stringify(siteStructuredData)} />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script is:inline type="text/javascript" id="posthog-js">
    !(function(t, e) {
      var o, n, p, r;
      e.__SV ||
        ((window.posthog = e),
        (e._i = []),
        (e.init = function(i, s, a) {
          function g(t, e) {
            var o = e.split('.');
            2 == o.length && ((t = t[o[0]]), (e = o[1])),
              (t[e] = function() {
                t.push([e].concat(Array.prototype.slice.call(arguments, 0)));
              });
          }
          ((p = t.createElement('script')).type = 'text/javascript'),
            (p.crossOrigin = 'anonymous'),
            (p.async = true),
            (p.src = s.api_host + '/static/array.js'),
            (r = t.getElementsByTagName('script')[0]).parentNode.insertBefore(p, r);
          var u = e;
          void 0 !== a ? (u = e[a] = []) : (a = 'posthog');
          u.people = u.people || [];
          u.toString = function(t) {
            var e = 'posthog';
            return 'posthog' !== a && (e += '.' + a), t || (e += ' (stub)'), e;
          };
          u.people.toString = function() {
            return u.toString(1) + '.people (stub)';
          };
          o =
            'capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys getNextSurveyStep onSessionId'.split(
              ' '
            );
          for (n = 0; n < o.length; n++) g(u, o[n]);
          e._i.push([i, s, a]);
        }),
        (e.__SV = 1));
    })(document, window.posthog || []);
    posthog.init('phc_JS6XFROuNbhJtVCEdTSYk6gl5ArRrTNMpCcguAXlSPs', { api_host: 'https://us.i.posthog.com', defaults: '2025-05-24' });
    if (posthog.startSessionRecording) {
      posthog.startSessionRecording();
    }
  </script>
</head>
<body>
  <div class="layout">
    <Header current={current} />

    <main>
      <slot />
    </main>

    <Footer hideNewsletter={hideNewsletterFooter} />
  </div>
</body>
</html>

<style>
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
  }

  main {
    flex: 1;
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    padding: 1em 2em;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 520px) {
    main {
      padding: 1em;
    }
  }
</style>
